@charset "utf-8";
@import "blog";

html, body {
    width: 100%;
    margin: 0;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1rem;
}

#page-wrapper {
    min-height: 100vh;
}

#page-wrapper:has(#wrapper) {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    background: linear-gradient(45deg, #020913, #00121E 19%, #001F3A 28%, #063651 56%, #2B546B 71%, #827C6C);
    box-shadow: 0 2rem 4rem 0.25rem rgba(46, 43, 55, 0.575);
    padding: 3.5rem;
    max-width: 37.5rem;
    width: 100%;
    color: rgba(255, 255, 255, 0.75);

    h1 { font-size: 3rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1rem; font-style: italic; }

    h1, h2, h3, h4, h5, h6 {
        color: rgba(255, 255, 255, 0.875);
        font-weight: 600;
        line-height: 1.3;
        margin: 0 0 0.75rem;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;

        &:hover { color: rgba(255, 255, 255, 0.8); }
    }

    p {
        font-weight: 300;
        line-height: 2;
        margin: 0 0 10px;
    }

    .separator {
        border-bottom: 1px solid rgba(255, 255, 255, 0.875);
        width: 100px;
        margin: 0 0 15px;
    }

    header img {
        display: block;
        margin: 0 auto;
        width: 30%;
        border-radius: 50%;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    footer .icons a {
        color: rgba(255, 255, 255, 0.75);
        padding: 0.3em 0.8em 0.2em 0;
        transition: color 0.3s;

        &:hover { color: rgba(255, 255, 255, 0.5); }

        .label { display: none; }
    }
}

@media screen and (max-width: 700px) {
    #page-wrapper:has(#wrapper) {
        align-items: flex-start;
    }

    #wrapper {
        min-height: 100vh;
        box-sizing: border-box;
        width: 100vw;
    }

    .fa-3x {
        font-size: 2.3em !important;
    }
}
