<!DOCTYPE HTML>

<html>
	<head>
		<title>{%if page.title %}{{page.title}} | {%endif%} Gerard CS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,600,700" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/reset.css" />
		<link rel="stylesheet" href="assets/css/main.css?_={{ site.time |  date: '%s' }}" />
		<script src="https://use.fontawesome.com/516a64331f.js"></script>
	</head>
	<body>
	<div id="page-wrapper">

	<div id="wrapper">

			{{content}}


	</div>
	</div>

	</body>
</html>
