<!DOCTYPE HTML>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{site.color}}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <meta name="description" content="{{ page.description | default: site.description | strip_html  }}">
     <meta name="keywords" content="gerard, boulder, engineer, personal website, gerard casas saez"/>
    <meta name="copyright" content="{{ site.author }}"/>


    <!--FACEBOOK DESCRIPTION -->
    <meta property="og:title" content="{{ page.title | default: site.title}}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:description" content="{{ page.description | default: site.description | strip_html }}"/>
    <meta property="og:url" content="http://{{site.domain}}">

    <!--TWITTER DESCRIPTION -->
    <meta name="twitter:card" content="summary">
    {% unless site.twitter  == null %}
      <meta name="twitter:site" content="@{{ site.twitter }}">
      <meta name="twitter:creator" content="@{{ site.twitter }}">
    {% endunless %}
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description | strip_html }}">

    <link rel="stylesheet" href="assets/css/reset.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css?_={{ site.time |  date: "%s" }}">
    <link rel="stylesheet" href="assets/lib/font-awesome.min.css" />

    <title>{% if page.title %}{{ page.title }} | {%endif%}{{ site.title }}</title>

</head>
<body>

<div id="page-wrapper">
   {{content}}
</div>
</div>
{% unless site.mastodon  == null %}
<a rel="me" style="visibility: hidden;" href="https://{{site.mastodon}}"></a>
{% endunless %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115745957-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115745957-1');
</script>

</body>
</html>
